@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background: url('../img/blackground.jpg') no-repeat center center fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;


}

.gumitnaka {
    display: flex;
    
}


.d-flex {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Lucida Console", "Courier New", monospace;
}

.card-body {
    background-color: #242024;
    color: #E30220;
    font-size: 16px; 
}

.card {
    margin: 0 auto;
    float: none;
    margin-top: 200px;
    margin-bottom: 20px;
    margin-right: 20px;
    width: 20%;
    height: 235px;
    transition: background-color 0.3s ease;
}

.card-body:hover {
    background-color: #777377;
}

.card i {
    font-size: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #E30220;
}

.card a {
    background-color: #E30220;
    border-color: #E30220;
}

.card a:hover {
    background-color: #940418;
}

.wc {
    font-size: 50px;
    color: #fff;
}

@media screen and (max-width: 1200px) {
    .card {
        width: 40%;
    }
}

@media screen and (max-width: 600px) {
    .card {
        width: 90%;
    }
}

.navbar-text.wc {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
